/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: 'Open Sans', sans-serif;
}

main{
    margin-top: 80px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    font-size: 77px;
    font-weight: 900;
    margin-bottom: 50px;
}

/* Utils */

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.c-white{
    color: #fff;
}

.big-container{
    width: 1183px;
    margin: 0 auto;
}

.blue-button{
    display: inline-block;
    padding: 11px 16px;
    background-color: #0061FF;
    color: #fff;
}

/* Header */

header{
    height: 80px;
    width: 100%;
    box-shadow: 0 0 3px #D1D9E1;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;

    justify-content: space-between;
}

nav img{
    height: 25px;
    display: block;
}

nav img, li{
    margin: 0 20px;
}

#main-menu-button{
    background-color: #0061FF;
    padding: 6px 16px;
    margin-right: 3px;
}

/* Jumbotron */

.jumbotron{
    height: 738px;
    padding-top: 80px;
    background-color: #B4D0E7;
}

.jumbotron img{
    width: 840px;
}

.blue-button.jumbotron-button{
    margin: 30px 0;
}

.jumbotron-cta{
    width: 360px;
}

.jumbotron-img{
    width: calc(100% - 360px);
}

.fa-solid.fa-arrow-down{
    font-size: 50px;
    margin-top: 70px;
}