/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

main{
    margin-top: 80px;
}

section{
    margin-bottom: 150px;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2{
    margin-bottom: 50px;
}

h1{
    font-size: 77px;
    font-weight: 900;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 22px;
    margin-bottom: 30px;
}

ul{
    list-style: none;
}

/* UTILS */

.container{
    width: 1000px;
    margin: 0 auto;
}

.big-container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.blue-link{
    color: #2626F1;
    text-decoration: underline;
}

.blue-link:hover{
    text-decoration: none;
}

.btn{
    display: block;
    padding: 10px 15px;
    background-color: #0061FF;
    color: #fff;
    text-align: center;
    font-size: 14px;
    transition: opacity;
}

.btn:hover{
    filter: opacity(0.8);
}

/* HEADER */

header{
    height: 80px;
    width: 100%;
    padding: 0 20px;

    background-color: #fff;
    box-shadow: 0 0 3px #D1D9E1;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header nav{
    display: flex;
    align-items: center;
}

header nav img{
    height: 25px;
    display: block;
}

header nav li{
    border-bottom: 2px solid transparent;
    padding: 0 20px;
    line-height: 80px;
}

header nav li:hover{
    border-bottom: 2px solid #000;
}

.btn#header-button{
    padding: 5px 15px;
}

/* JUMBOTRON */

.jumbotron{
    padding-top: 80px;
    background-color: #B4D0E7;
}

.jumbotron-cta .btn{
    display: inline-block;
    margin: 30px 0;
}

.fa-solid.fa-arrow-down{
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.jumbotron img{
    width: 850px;
    position: absolute;
}

/* PLANS SECTION */

.col{
    width: calc(100% / 3 - 30px);
    border: 1px solid #D3D3D3;
}

.col-plan-body, .row-plan-body{
    padding: 30px 30px;
}

.plans-selector{
    display: flex;
    margin-bottom: 40px;
}

.plans-selector li{
    margin-right: 40px;
}

li .fa-circle.checked{
    color: #0061FF;
    font-weight: 700;
}

li .fa-circle.unchecked{
    color: #D3D3D6;
}

.col-plan-header, .row-plan-header{
    text-align: center;
    border-bottom: 1px solid #D3D3D3;
    padding: 10px 0;
}

.col-plan-rule{
    height: 2px;
    width: 55px;
    background-color: #E6E6E8;
}

.col-plan-type, .col-plan-info, .col-plan-cta, .col-plan-rule, .row-plan-type{
    margin-bottom: 40px;
}

.col-plan-cta .btn, .col-plan-highlights p{
    margin-bottom: 30px;
}

.plan-name{
    margin-bottom: 15px;
}

.plan-pricing{
    font-weight: 700;
    margin-bottom: 10px;
}

.plan-lenght{
    color: #8A8782;
}

.col li, .col-plan-info li{
    margin-bottom: 15px;
    padding-left: 25px;
}

.icon-padding{
    display: inline-block;
    margin-left: -25px;
    width: 25px;
}

.fa-check{
    color: #0061FF;
}

.col-plan-highlights p{
    font-weight: 700;
    display: block;
}

.row-plan{
    border: 1px solid #D3D3D3;
}

.row-contact{
    padding-left: 40px;
}

/* PARTNER SECTION */

.partner-img img{
    width: 100%;
    padding-right: 50px;
}

.partner-text{
    padding-top: 50px;
}

.partner-text p{
    margin: 20px 0;
}

.btn#partner-btn{
    display: inline-block;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

/* DROPBOX BUSINESS FUNCTIONS SECTION */

.col-business{
    width: calc(100% / 3 - 30px);
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.col-business img{
    width: 100%;
}

/* DROPBOX BUSINESS TESTIMONIALS SECTION */

.clients-cta{
    padding-right: 300px;
    margin-bottom: 150px;
}

.testimonial-boxes{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.testimonial-boxes .testimonial-box{
    width: 50%;
    height: 50%;
    justify-content: center;
    border: 10px solid transparent;
    transition: border 0.2s;
}

.testimonial-boxes .testimonial-box:hover{
    border: 10px solid #D1E9CD;
}

.testimonial-boxes .testimonial-box img{
    width: 50%;
    filter: invert(1);
}

.testimonial-boxes#box-9 *{
    margin-bottom: 30px;
}

#box-1{
    background-color: #A2D39B;
}

#box-2{
    background-color: #61082B;
}

#box-3{
    background-color: #0093CE;
}

#box-4{
    background-color: #FF1C1C;
}

#box-5{
    background-color: #D5001F;
}

#box-6{
    background-color: #B4D0E7;
}

#box-7{
    background-color: #0D2481;
}

#box-8{
    background-color: #FFD830;
}

#box-9{
    background-color: #F5F5F5;
    padding: 50px;
}

#box-9 img{
    width: 50%;
}

.testimonial-rule{
    height: 1px;
    width: 110px;
    background-color: #DCDCDE;
}

.dropbox-business-test{
    background-color: #B4D0E7;
    padding: 120px 0;
}

.dropbox-business-test .container{
    align-items: baseline;
}

.dropbox-business-test a{
    background-color: #FFFFFF;
    color: #000;
}

.dropbox-business-test h2{
    color: #61082B;
    padding-right: 150px;
    margin-bottom: 0;
}

/* FAQ SECTION */

.questions-row{
    border-top: 1px solid #000;
    cursor: pointer;
}

.question-box{
    border-bottom: 1px solid #000;
}

.question-box{
    padding: 40px 40px 40px 0;
}

.question-box .question p{
    font-weight: 700;
}

.answer{
    padding-top: 40px;
    display: none;
}

.question-box:hover .answer{
    display: block;
}

.question-box:hover .fa-angle-down{
    transform: rotate(180deg);
}

/* FOOTER */

footer{
    background-color: #000;
    color: #fff;
}

footer a{
    color: #fff;
    line-height: 35px;
    text-decoration: under;
}

footer a:hover{
    text-decoration: underline;
}

.secondary-menu{
    padding: 100px 0;
}

.footer-rule{
    height: 1px;
    width: 110px;
    background-color: #BABABA;
}

.fa-earth-americas{
    margin-right: 10px;
}

.language-selector{
    padding: 30px 0;
}

.language-selector, .language-selector a{
    color: #BABABA;
    font-size: 14px;
}
