/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

main{
    margin-top: 80px;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2{
    margin-bottom: 50px;
}

h1{
    font-size: 77px;
    font-weight: 900;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 22px;
}

ul{
    list-style: none;
}

/* UTILS */

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.c-white{
    color: #fff;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.big-container{
    width: 1200px;
    margin: 0 auto;
}

.col-container{
    padding: 30px 30px;
}

.btn{
    display: block;
    padding: 10px 15px;
    background-color: #0061FF;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.icon-padding{
    display: inline-block;
    margin-left: -25px;
    width: 25px;
}

/* HEADER */

header{
    height: 80px;
    width: 100%;
    box-shadow: 0 0 3px #D1D9E1;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
}

nav img{
    height: 25px;
    display: block;
}

nav li{
    padding: 0 20px;
}

#header-button{
    background-color: #0061FF;
    color: #fff;
    padding: 5px 15px;
    margin-right: 20px;
}

/* JUMBOTRON */

.jumbotron{
    height: 740px;
    padding-top: 80px;
    margin-bottom: 150px;
    background-color: #B4D0E7;
}

.jumbotron img{
    width: 100%;
}

.jumbotron-cta{
    width: 30%;
}

.jumbotron-img{
    width: 70%;
}

.jumbotron-cta .btn{
    display: inline-block;
}

.fa-solid.fa-arrow-down{
    font-size: 50px;
    margin-top: 70px;
}

/* PLANS SECTION */

.col-plan{
    width: calc(100% / 3 - 20px);
    border: 1px solid #D3D3D3;
}

.row-plan{
    height: 200px;
    border: 1px solid #D3D3D3;
}

li .fa-circle.selected{
    color: #0061FF;
    font-weight: 700;
}

li .fa-circle.not-selected{
    color: #D3D3D6;
}

.mensile-annuale{
    margin-right: 40px;
}

.col-plan-header{
    text-align: center;
    border-bottom: 1px solid #D3D3D3;
    padding: 10px 0;
}

.col-plan-bar{
    height: 2px;
    width: 60px;
    background-color: #E6E6E8;;
}

.col-plan-cta .buy-now{
    color: #2626F1;
    text-decoration: underline;
}

.col-plan-highlights span{
    font-weight: 700;
    display: block;
}

.col-plan li, .col-plan-info li{
    margin-bottom: 15px;
    padding-left: 25px;
}

.fa-check{
    color: #0061FF;
}

.plan-name{
    margin-bottom: 15px;
}

.plan-pricing{
    font-weight: 700;
    margin-bottom: 10px;
}

.plan-lenght{
    color: #8A8782;
}